.main-sidebar {
    background-color: #222d32;
}

/*开启黄色护眼模式*/
a {
    color: yellow;
}

.container,.container-fluid {
    height: 100%;
}

.row {
    background: grey;
}

#lazybook-dir-content,#lazybook-main-content,#menu-list{
    border:1px solid white;
}

/*顶部词库搜索样式*/
#global-search-row {
    height: 10%;
}

#lazybook-main {
    height: 90%;
    min-height: 900px;
}

/*搜索匹配出的结果样式*/
.log-search-item-list{
    color: red;
}

